<div class="container">
  <h2>Atualizar meus dados</h2>

  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, autocomplete: 'off', hint: 'Deixe em branco se não quiser mudar a sua senha', required: false %>
          <%= f.input :password_confirmation, required: false %>
          <%= f.input :current_password, hint: 'Precisamos da sua senha atual para atualizar suas informações.', required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, 'Atualizar', class: 'btn-primary' %>
        </div>

        <br>
        <%= link_to 'Cancelar', root_path, id: 'cancel-link' %>
      <% end %>
    </div>
  </div>
</div>

<script>
$('#cancel-link').click(function (e) {
  if (history.length) {
    history.back();
    e.preventDefault();
  }
});
</script>
