<div class="container">
  <h2>Redefinir senha</h2>

  <div class="row">
    <div class="col-md-5">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-inputs">
          <%= f.input :password, label: 'Nova senha', required: true, autofocus: true, hint: ("Mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: 'Confirme sua nova senha', required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, 'Redefinir minha senha', class: 'btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
