<h2>Descrição</h2>

<div class="view-mode">
  <% if @project.description? %>
    <p data-bind="project-description" data-model-id="<%= @project.id %>" data-html-safe="true">
      <%= project_description(@project) %>
    </p>
  <% else %>
    <p>Descreva aqui o funcionamento do seu projeto de simulação.</p>
  <% end %>

  <% if @project.can_be_edited_by?(current_user) %>
    <%= link_to @project.description? ? 'Editar descrição' : 'Adicionar descrição',
      project_path(@project),
      class: 'btn btn-sm btn-success', data: { action: 'edit' } %>
  <% end %>
</div>

<% if @project.can_be_edited_by?(current_user) %>
  <div class="edit-mode" style="display:none">
    <%= simple_form_for(@project) do |f| %>
      <div class="form-inputs">
        <%= f.input :description, label: false, as: :text,
          placeholder: 'Descreva aqui o que o seu projeto faz.',
          input_html: { rows: 4, data: { use_original_value: true, bind: 'project-description', model_id: @project.id } } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, value: 'Atualizar descrição', class: 'btn-success' %>
        <%= link_to 'Cancelar', '#', data: { action: 'cancel' }, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
<% end %>
