<div class="project-header">
  <div class="container">
    <div class="project-name">
      <% if local_assigns[:internal] %>
        <h1>
          <%= link_to @project do %>
            ← <span id="project-name" data-bind="project-name" data-model-id="<%= project.id %>"><%= project.name %></span>
          <% end %>
        </h1>
      <% else %>
        <h1><span id="project-name" data-bind="project-name" data-model-id="<%= project.id %>"><%= project.name %></span></h1>
      <% end %>
    </div>

    <% unless local_assigns[:internal] %>
      <div class="project-actions">
        <% if @project.can_be_edited_by?(current_user) %>
          <%= link_to edit_project_path(@project), class: 'action', id: 'project-settings-link' do %>
            <span class="glyphicon glyphicon glyphicon-wrench"></span>
            <label>Ajustes</label>
          <% end %>
        <% end %>

        <%= link_to new_project_simulation_path(@project), class: 'action' do %>
          <span class="glyphicon glyphicon-play-circle"></span>
          <label>Simular</label>
        <% end %>
      </div>
    <% end %>

    <div class="clearfix"></div>
  </div>
</div>
