<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>Novo projeto</h2>

      <%= simple_form_for(@project) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: 'btn-success' %>
        </div>
      <% end %>

      <br>
      <%= link_to 'Cancelar', projects_path %>
    </div>
  </div>
</div>
