<%= render 'header', project: @project %>

<div class="project-dashboard" id="vue-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="agents-section" id="agents-section">
          <%= render 'agents' %>
        </section>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-5">
        <section class="variables-section" id="variables-section">
          <%= render 'variables' %>
        </section>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <section class="stop-condition-section" id="stop-condition-section">
          <%= render 'stop_condition' %>
        </section>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <section class="initial-positions-section" id="initial-positions-section">
          <%= render 'initial_positions' %>
        </section>
      </div>
    </div>
  </div>
</div>
