<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<h4>Users:</h4>

<ul>
  <% @project_users.each do |project_user| %>
    <li><%= project_user.user.email %> - <%= project_user.role %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
